@import "variables";
@import "mixins";

//BLOG INDEX
#block-mrst-content {
  > div > div {
    display: grid;
    justify-content: center;
    grid-gap: 20px 10px;
    grid-template-columns: repeat(2, 50%);

    @include breakpoint(425) {
      grid-template-columns: repeat(2, 180px);
    }

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, 180px);
    }

    @include breakpoint(lg) {
      grid-column-gap: 1.5%;
      justify-content: left;
    }

    @include breakpoint(1500) {
      grid-template-columns: repeat(6, 180px);
    }
  }

  .blog-item {
    p,
    figure {
      &:empty {
        display: none;
      }
    }

    aside {
      display: none;
    }

    figure {
      margin: 0 auto 5px;
    }

    h3 {
      margin: 0;
    }
  }

  .pager {
    grid-column-start: 1;
    grid-column-end: 3;

    @include breakpoint(sm) {
      grid-column-end: 4;
    }

    @include breakpoint(1500) {
      grid-column-end: 7;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
    }

    li,
    a {
      color: $primary;
      font-family: $font-family-serif;
    }
  }
}

.tag-rezepte {
  header a {
    color: $primary;
    font: $font-cursive;

    @include breakpoint(sm) {
      font-size: 20px;
    }
  }
}

.page-tags-rezepte,
.page-tags-susses,
.page-tags-herzhaftes {
  #content-area {
    max-width: calc(100% - 40px) !important;
  }

  #block-mrst-local-tasks {
    flex: 100%;
    max-width: none;
    min-width: 80vw;
    width: 100%;
  }

  @include breakpoint(md) {
    #content-area > div {
      display: flex;
      flex-flow: row wrap;

      #block-rezeptemenu {
        width: 20%;
      }

      #block-mrst-content {
        width: 80%;
      }
    }
  }
}

.recipe-menu {
  ul {
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
    padding: 10px 0;
  }

  li {
    display: inline;
  }

  a {
    color: $primary;
    font-family: $font-family-serif;
    padding: 0 5px;
    text-transform: uppercase;
  }
}

body:not(.term-rezepte) {
  .recipe-menu {
    @include breakpoint(md) {
      padding-right: 30px;
    }

    @include breakpoint(lg) {
      padding-right: 50px;
    }

    ul {
      @include breakpoint(md) {
        border: 0;
        display: block;
        justify-content: space-around;
        padding: 0;
      }
    }

    li {
      @include breakpoint(md) {
        border-bottom: 1px solid $primary;
        display: list-item;
        margin-bottom: 20px;
      }
    }
  }
}

.tag-description {
  border-bottom: 1px solid $primary;
  margin-bottom: 20px;
  padding-bottom: 20px;

  @include breakpoint(md) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

//BLOG DETAIL PAGE
.term-rezepte {
  #blog span::after {
    content: ' und leckere Rezepte';
  }

  table {
    margin: 0 auto;
    max-width: 500px;
  }

  tr {
    background-color: $tabs-color;
  }

  h3 {
    clear: both;
    color: $primary;
    font-family: Freeland, sans-serif;
    font-weight: normal;
  }
}

.section-blog.section-blog.section-blog {
  #content-area {
    @include breakpoint(900) {
      max-width: 875px;
    }
  }

  .article__image {
    margin-bottom: 20px;
    text-align: center;

    img {
      max-height: 500px;
      object-fit: contain;
    }
  }

  .article__tags {
    clear: both;
    margin-top: 20px;
  }

  .align-center {
    text-align: center;

    figcaption {
      text-align: left;
    }
  }

  figure {
    margin: 0 auto;
  }

  .align-right {
    margin: 12px 0 12px 12px;
  }

  .align-left {
    margin: 12px 12px 12px 0;
  }
}
