@import "variables";
@import "mixins";

//BLOG INDEX
#block-mrst-content {
  > div > div {
    display: grid;
    justify-content: center;
    grid-gap: 20px 10px;

    @include breakpoint(425) {
      grid-template-columns: 180px 180px;
    }

    @include breakpoint(sm) {
      grid-template-columns: 180px 180px 180px;
    }
  }

  .blog-item {
    p,
    figure {
      &:empty {
        display: none;
      }
    }

    figure {
      margin: 0 auto 5px;
    }

    h3 {
      margin: 0;
    }
  }

  .pager {
    grid-column-start: 1;
    grid-column-end: 3;

    @include breakpoint(sm) {
      grid-column-end: 4;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
    }

    li,
    a {
      color: $primary;
      font-family: $font-family-serif;
    }
  }
}

.tag-rezepte {
  header a {
    color: $primary;
    font: $font-cursive;

    @include breakpoint(sm) {
      font-size: 20px;
    }
  }
}

//BLOG DETAIL PAGE

.term-rezepte {
  #blog span::after {
    content: ' und leckere Rezepte';
  }

  table {
    margin: 0 auto;
    max-width: 500px;
  }

  tr {
    background-color: $tabs-color;
  }

  h3 {
    clear: both;
    color: $primary;
    font-family: Freeland, sans-serif;
    font-weight: normal;
  }
}

.section-blog {
  .article__image {
    float: left;
    margin-bottom: $spacing;
    margin-right: $spacing;
  }

  .article__tags {
    clear: both;
  }

  .align-center {
    text-align: center;

    figcaption {
      text-align: left;
    }
  }

  .align-right {
    margin: 12px;
    margin-right: 0;
  }

  .align-left {
    margin: 12px;
    margin-left: 0;
  }
}
