@import "mixins";

.column {
  margin-bottom: 20px;

  @include breakpoint(sm) {
    flex: 1 1 50%;
    margin-bottom: 0;
    padding-left: 20px;

    &:first-child {
      padding: 0;
    }

    &-wrapper {
      display: flex;
    }
  }
}

.column2 {
  @include breakpoint(sm) {
    column-count: 2;
  }
}
