@font-face {
  font-family: 'Freeland';
  src: url('../webfonts/35C92D_0_0.eot');
  src: url('../webfonts/35C92D_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/35C92D_0_0.woff2') format('woff2'), url('../webfonts/35C92D_0_0.woff') format('woff'), url('../webfonts/35C92D_0_0.ttf') format('truetype');
}
